extends layout 

block content 
    .brandDetail 
        h1 #{brand.name} TVs
        .brandProducts
            each tv in brand_tvs
                div 
                    a(href=tv.url) #{brand.name + " " + tv.screen_size + "-Inch " + tv.model_name} 
                    
            else
                p No TVs by this brand
        hr  
        p 
            a(href=brand.url + "/update") Update Brand
        p 
            a(href=brand.url + "/delete") Delete Brand

