extends layout 

block content 
    .brandDelete 
        h1=title 
        h2 #{brand.name}

        if brand_tvs.length
            p 
                span Delete the following TVs before removing this brand!

            div(class="brandProducts") 
                each tv in brand_tvs 
                    a(href=tv.url) #{brand.name + " " + tv.screen_size + "-Inch " + tv.model_name} 
        else
            p 
                span Are you sure you want to delete this brand?
            p Click the button below to delete
            form(method="POST" action="")
                .brandDeleteFormGroup 
                    input#brandDelete.form-control(type="hidden" name="brandDelete" required="true" value=brand._id)
                button(class="deleteBtn" type="submit") Delete 