extends layout 

block content 
    .brandDelete 
        h1=title 
        h2 #{brand.name}

        if brand_tvs.length
            p #[strong Delete the following TVs before removing this brand.]

            div 
                h3 TVs 
                div 
                    each tv in brand_tvs 
                         a(href=tv.url) #{brand.name + " " + tv.screen_size + "-Inch " + tv.model_name} 
        else
            form(method="POST" action="")
                .brandDeleteFormGroup 
                    input#brandDelete.form-control(type="hidden" name="brandDelete" required="true" value=brand._id)
                button(class="deleteBrandBtn" type="submit") Delete 