extends layout 

block content 
    .categoryDelete 
        h1=title 
        h2 #{category.name}

        if category_tvs.length
            p #[strong Delete the following TVs before removing this category.]

            div 
                h3 TVs 
                div 
                    each tv in category_tvs 
                         a(href=tv.url) #{tv.brand.name + " " + tv.screen_size + "-Inch " + tv.model_name} 
        else
            form(method="POST" action="")
                .categoryDeleteFormGroup 
                    input#categoryDelete.form-control(type="hidden" name="categoryDelete" required="true" value=category._id)
                button(class="deleteCategoryBtn" type="submit") Delete 