extends layout 

block content 
    .categoryDetail 
        h1 #{category.name}
        .categories
            each tv, index in category_tvs
                div 
                    a(href=tv.url) #{tv.brand.name + " " + tv.screen_size + "-Inch " + tv.model_name}
                    
                    
            else
                p No Tvs in this category
        hr
        p 
            a(href=category.url + "/update") Update Category 
        p 
            a(href=category.url + "/delete") Delete Category
