extends layout

block content
  .homeSection
    h1= title
    .homeSectionContent
      .homeContentHeader
        h2 Record 
        h2 Count
      .records 
        div 
          h3 Total Products
          p !{tv_count}
        div 
          h3 TVs In Stock
          p !{tv_stock_count}
        div 
          h3 Brands
          p !{brand_count}
        div 
          h3 Categories
          p !{category_count}
  
