extends layout 

block content 
    .tvDelete
        h1=title 
        h2 #{tv.brand.name + " " + tv.screen_size + "-Inch " + tv.model_name}

        .tvMeta 
            div 
                h3 Brand
                p #{tv.brand.name}
            div 
                h3 Resolution
                p #{tv.resolution}
            div 
                h3 Special Features
                p #{tv.special_features}    
            div 
                h3 Price
                p #{tv.price}
            div 
                h3 Number In Stock 
                p #{tv.number_in_stock}

        .formDeleteContainer
            form(method="POST" action="") 
                .tvDeleteFormGroup 
                    input#tvDelete.form-control(type="hidden" name="tvDelete" required="true" value=tv._id)
                button(class="deleteTvBtn" type="submit") Delete 
