extends layout 

block content 
    .tvFormContainer
        h1=title 

        form(method="POST" action="")   
            div(class="formTvMetaOne")
                div 
                    label(for="brandName") Brand Name
                    select#brandName.form-control(type="select" name="brand" required="true")                            - brands.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0}) 
                        for brand in brands 
                            if tv    
                                option(value=brand._id selected=(brand._id.toString()===tv.brand._id.toString()  ? "selected" : false)) #{brand.name}
                            else
                                option(value=brand._id) #{brand.name}
                div            
                    label(for="modelName") Model Name:
                    input#modelName.form-control(type="text" name="model_name" required="true" value=(undefined===tv ? "" : tv.model_name)) 
            div(class="formTvMetaTwo")
                div 
                    label(for="screenSize") Screen Size:
                    input#screenSize.form-control(type="text" name="screen_size" required="true" value=(undefined===tv ? "" : tv.screen_size))
                div
                    label(for="resolution") Screen Resolution:
                    input#resolution.form-control(type="text" name="resolution" required="true" value=(undefined===tv ? "" : tv.resolution))
                div
                    label(for="refreshRate") Screen Refresh rate:
                    input#refreshRate.form-control(type="text" name="refresh_rate" required="true" value=(undefined===tv ? "" : tv.refresh_rate))
            div(class="formTvMetaThree")
                div
                    label(for="specialFeatures") Special Features:
                    textarea#specialFeatures.form-control( name="special_features" required="true" rows=8) #{value=(undefined===tv ? "" : tv.special_features)}
                div
                    label(for="supportedInternetServices") Supported Internet Services:
                    textarea#supportedInternetServices.form-control( name="supported_internet_services" required="true" rows=8) #{value=(undefined===tv ? "" : tv.supported_internet_services)}
            div(class="formTvMetaFour")
                div
                    label(for="releaseDate") Release Date:
                    input#releaseDate.form-control(type="date" name="release_date" value=(undefined===tv ? "" : tv.release_date))
                div
                    label(for="price") TV Price:
                    input#price.form-control(type="number" name="price" required="true" value=(undefined===tv ? "" : tv.price))
                div
                    label(for="numberInStock") Number In Stock:
                    input#numberInStock.form-control(type="number" name="number_in_stock" required="true" value=(undefined===tv ? "" : tv.number_in_stock))
            div(class="formTvMetaFive")
                label Category:
                div(class="formTvMetaCategory")
                    for category in categories 
                        div 
                            input(id=category._id class="checkboxInput" type="checkbox" name="category" value=category._id checked=category.checked)
                            label(for=category._id) #{category.name} 
            button(class="createBtn" type="submit") Submit 
        
        if errors 
            ul 
                for error in errors 
                    li!=error.msg